<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="head::htmlhead"></head>
<style>
    body {
        background: whitesmoke;
    }
</style>
<body>
<header class="rhyzz" th:replace="header :: header"></header>
<main class="rhyzz" style="padding: 25px 0 0 0;">
    <div class="rhyzz-wrapper">
        <div class="container" th:id="${'eventlist'}" th:fragment="${'events'}">
            <table>
                <tbody>

                <tr th:id="${'list'+ occurrenceStat.index}" th:each="occurrence: ${occurrences}">
                    <td style="min-width: 200px; vertical-align: middle">
                <a th:href="@{'/event/' + ${occurrence.id}}" onclick="this.parentElement.setAttribute('th:replace', 'event::event')">
                    <h2 th:text="${occurrence.startDate.dayOfMonth}
         + '. ' + ${occurrence.startDate.month}
         + ' ' + ${occurrence.startDate.year}
         + ' ' + ${occurrence.startTime == null ? '' : occurrence.startTime.toLocalTime()}
         + ' -' +  ${(occurrence.endDate == null ? '' : ' ' + occurrence.endDate) + (occurrence.endTime == null ? '' : ' ' + occurrence.endTime.toLocalTime())}">

                    </h2>
                    </a>
                        <ul>
                            <li class="ui-button" th:text="${occurrence.venue.getAbouts().get(0).name}"></li>
                            </li>
                            <li
                                    class="ui-button"
                                    th:text="
                                    ${occurrence.venue.getAddress().streetName} + ' '
                                    + ${occurrence.venue.getAddress().houseNumber}                                ">
                            </li>
                            <li th:text="${occurrence.venue.getAddress().postalCode} + ' '
                                    + ${occurrence.venue.getAddress().getCityOrVillage().shortName} + ', '
                                    + ${occurrence.venue.getAddress().getCityOrVillage().getCountry().shortName}
                                ">
                            </li>
                        </ul>
                    </td>
                <td class="container">
                    <div>
                    <h1 th:text="${occurrence.event.getAbouts().get(0).name}"></h1>
                    <p th:text="${occurrence.event.getAbouts().get(0).description.subSequence(0,255)}"></p>
                    </div>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer th:include="footer :: footer"></footer>

<!--
<script type="86dc64a4e19322c20a32dff2-text/javascript">
				$('#formdatamode').click(function(){
				    $('#mainData').toggle();
				    $('#onedata').toggle();
				});

</script>

-->

</body>
</html>
